<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Cree una cuenta corriente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="accountForm" class="account-form">
      <mat-form-field class="example-full-width">
        <mat-label>Moneda</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
            {{paymentType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Balance inicial</mat-label>
        <span matPrefix>{{accountForm?.value?.currency}} &nbsp;</span>
        <input formControlName="balance" matInput type="number">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="createAccount()" mat-button>Crear</button>
  </mat-card-actions>
</mat-card>
