<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Cree una cuenta corriente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-form-field class="example-full-width">
          <mat-label>Moneda</mat-label>
          <mat-select>
            <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
              {{paymentType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Telephone</mat-label>
        <span matPrefix>+1 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
